<pundit-agent>
  # Note: Search on word 'here' to locate fields for user-provided values

  # comma delimited list of VOs/groups using PuNDIT that this agent belongs to
  measurement_federations federation1

  # specify the perfsonar hostname for this agent
  src_host <add-src-host-here>

  # Raw data receiver. This will grab raw messages from a pscehduler-archiver
  <raw_receiver>  
      # RabbitMQ parameters
      <rabbitmq>
        queue_host   <replace-rabbitmq-host-here>
        user         <replace-rabbitmq-user-here>
        password     <replace-rabbitmq-user-password-here>
        exchange     <replace-exchange-here>
        routing_key  <replace-routing_key-here>
      </rabbitmq>
  </raw_reciever>

  # One configuration per measurement federation, must match elements of measurement_federations
  <federation1>
  
    # list of peer hostnames in this site, comma delimited list
    peers   <add-comma-delimited-list-of-hostnames-here>

    # owamp parameters for this federation. This should match what is configured in mesh config/regular testing
    <owamp_params>
      
      # number of samples in a owamp file
      sample_count	600
      
      # interval between packets (in seconds)
      packet_interval	0.1
      
    </owamp_params>
    
    <detection>
    
      # This is the maximum delay you will tolerate. Xms or X%
      delay_max   10ms
      # This is the percentage of problematic samples per 5s before a problem is detected
      delay_threshold 50%
        
      # This is the % of lost packets you will tolerate per 5s
      loss_threshold    10%
      
    </detection>
    
    # reporting configuration
    <reporting>
    
      # RabbitMQ parameters
      <rabbitmq>
        consumer    <add-consumer-host-name-here>
        user        <add-rabbitmq-user-here>
        password    <add-rabbitmq-user-password-here>
        channel     <add-channel-number-here>
        routing_key <add-routing-key-here>
        exchange    <add-exchange-name-here>
      </rabbitmq>

      <rabbitmq_tr>
        channel     <add-tr-channel-here>
        routing_key <add-tr-routing-key-here>
        exchange    <add-tr-exchange-here>
      </rabbitmq_tr>

    </reporting>
    
  </federation1>

  # Repeat here the federation structure above for each
  # additional federation to be supported.
  
  # These are independent of federation
  <owamp_data>
  
    # debug flag to save problematic owamp traces  
    save_problems 1
    
  </owamp_data>
  
  <log>
  
    # Path and filename of log file
    filename /var/log/perfsonar/pundit-agent.log
    
  </log>
  
</pundit-agent>
